interface_name: {{ interfaces }}
pfcp_address: {{ pfcp_address }}:{{ pfcp_port }}
metrics_address: :{{ metrics_port }}
n3_address: {{ n3_address }}
logging_level: {{ logging_level }}
pfcp_node_id: {{ pfcp_address }}
feature_ftup: true
teid_pool: 65535
xdp_attach_mode: {{ xdp_attach_mode }}
